Repository linhanphan/Miautawn-Auto-Validate-By-History: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, autoflake, isort, black, mypy

poetry-check:
  name: validate pyproject.toml
  entry: poetry check
  language: system
  pass_filenames: false

autoflake:
  name: remove unused imports
  entry: poetry run autoflake
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  pass_filenames: false

Remove gutenbergpy dependency (#3)
  .gitignore
  README.md
  notebooks/benchmark_data_generation.ipynb
  poetry.lock
  pyproject.toml
  src/avh/auto_validate_by_history.py
  src/avh/data_generation/_categorical.py
Due: poetry-check, autoflake, isort, black, mypy

Update README.md (#4)
  README.md
Due: none

Update README.md
  README.md
Due: none

Use asymptotic method in the ks_2samp (#5)
  pyproject.toml
  src/avh/auto_validate_by_history.py
  src/avh/metrics/_numeric.py
Due: poetry-check, autoflake, isort, black, mypy

Feature timeseries differencing (#6)
  README.md
  poetry.lock
  pyproject.toml
  src/avh/auto_validate_by_history.py
  src/avh/constraints/_base.py
  src/avh/constraints/_constraints.py
  src/avh/constraints/_data_quality_program.py
  src/avh/utility_functions.py
Due: poetry-check, autoflake, isort, black, mypy

Add benchmarks (#7)
  .python-version
  benchmark/README.md
  benchmark/benchmark_avh.py
  benchmark/benchmark_avh_diet.py
  benchmark/benchmark_data_generation.py
  benchmark/benchmark_health_esn.py
  benchmark/benchmark_ks_test.py
  benchmark/benchmark_ks_test_full.py
  benchmark/benchmark_lof.py
  benchmark/benchmark_tfdv.py
  benchmark/benchmark_tfdv_full.py
  benchmark/benchmark_visualisations.ipynb
  benchmark/healthESN/__init__.py
  benchmark/healthESN/model.py
  benchmark/temp.ipynb
  notebooks/AVH_implementation.ipynb
  notebooks/benchmark_data_generation.ipynb
  poetry.lock
  pyproject.toml
  src/avh/auto_validate_by_history.py
  src/avh/constraints/_base.py
  src/avh/constraints/_constraints.py
  src/avh/constraints/_data_quality_program.py
  src/avh/data_generation/_base.py
  src/avh/data_generation/_numeric.py
  src/avh/data_issues/_issues.py
  src/avh/data_issues/_numeric.py
  src/avh/metrics/_base.py
  src/avh/metrics/_categorical.py
  src/avh/metrics/_metrics.py
  src/avh/metrics/_numeric.py
  src/avh/utility_functions.py
Due: poetry-check, autoflake, isort, black, mypy

Remove unecessary files (#8)
  benchmark/temp.ipynb
Due: none

Create avhdemo.py
  avhdemo.py
Due: autoflake, isort, black, mypy

Add example code
  src/avh/auto_validate_by_history.py
  src/avhdemo.py
Due: autoflake, isort, black, mypy

Path conditions:
  poetry-check: any of: ^pyproject\.toml$
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  mypy: any of: \.py$
